<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" name="camera" color="light"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="search" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button id="popover-button2">
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical" color="light"></ion-icon>
      </ion-button>
      <ion-popover trigger="popover-button2" [dismissOnSelect]="true">
        <ng-template>
          <ion-content>
            <ion-list>
              <ion-item [button]="true" [detail]="false">Crear canal</ion-item>
              <ion-item [button]="true" [detail]="false">Privacidad de estados</ion-item>
              <ion-item [button]="true" [detail]="false">Ajustes</ion-item>
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-popover>
    </ion-buttons>
    <ion-title color="light">Novedades</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <ion-item-group>
      <ion-item-divider>
        <ion-label> Estados </ion-label>
      </ion-item-divider>
  
      <ion-item>
        <ion-label>
          <div class="scroll-container">
            <ion-card>
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
              <ion-card-header>
                <ion-card-subtitle>Yamileth</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
        
            <ion-card>
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
              <ion-card-header>
                <ion-card-subtitle>Teofilo</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
        
            <ion-card>
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
              <ion-card-header>
                <ion-card-subtitle>Yazmin</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
        
            <ion-card>
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
              <ion-card-header>
                <ion-card-subtitle>Gael</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
        
            <ion-card>
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
              <ion-card-header>
                <ion-card-subtitle>Alex BS</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
        
            <ion-card>
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
              <ion-card-header>
                <ion-card-subtitle>Jocelyn</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          </div>
        </ion-label>
      </ion-item>
    </ion-item-group>
  
    <ion-item-group>
      <ion-item-divider>
        <ion-label> Canales </ion-label>
      </ion-item-divider>
  
      <ion-item>
        <ion-label>Canal 1</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Canal 2</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label>Canal 3</ion-label>
      </ion-item>
    </ion-item-group>

      <ion-item-group>
        <ion-item-divider>
          <ion-label> Busca canales para seguir </ion-label>
        </ion-item-divider>
    
        <ion-item>
          <ion-label>Canal 3</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Canal 4</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Canal 5</ion-label>
        </ion-item>
    </ion-item-group>
  </ion-list>

  
</ion-content>
