<ion-header [translucent]="true" >
    <ion-toolbar color="primary">
    <ion-buttons slot="secondary" >
      <ion-button>
        <ion-icon slot="icon-only" name="camera" color="light"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="search" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button id="popover-button">
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical" color="light"></ion-icon>
      </ion-button>
      <ion-popover trigger="popover-button" [dismissOnSelect]="true">
        <ng-template>
          <ion-content>
            <ion-list>
              <ion-item [button]="true" [detail]="false">Nuevo grupo</ion-item>
              <ion-item [button]="true" [detail]="false">Nueva difusión</ion-item>
              <ion-item [button]="true" [detail]="false">Dispositivos vinculados</ion-item>
              <ion-item [button]="true" [detail]="false">Mensajes destacados</ion-item>
              <ion-item [button]="true" [detail]="false" routerLink="/ajustes">Ajustes</ion-item>      
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-popover>
    </ion-buttons>
    <ion-title color="light">WhatsApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
    <app-item-chat 
    *ngFor="let chats of chats" 
    [username]="chats.username"
    [message]="chats.message"
    [date]="chats.date"
    [avatarUrl]="chats.avatarUrl"
    ></app-item-chat>
</ion-content>
