<ion-header [translucent]="true" >
  <ion-toolbar color="primary">
  <ion-buttons slot="start" routerLink="/tap1">
      <ion-back-button default-href="#" color="light"></ion-back-button>
  </ion-buttons>
  <ion-buttons slot="secondary" >
    <ion-button>
      <ion-icon slot="icon-only" name="search" color="light"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title color="light">Perfil</ion-title>
</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card style="text-align: center;">
    <ion-card-header>
      <ion-avatar style="margin: 0 auto;">
        <img alt="Avatar" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
    </ion-card-header>

    <ion-card-content>
      <ion-item lines="none" >
        <ion-icon name="person-circle-outline" slot="start" color="primary"></ion-icon>
        <ion-label><p>Nombre</p>Yamileth</ion-label>
      </ion-item>

      <ion-item lines="none" >
        <ion-icon name="information-circle" slot="start" color="primary"></ion-icon>
        <ion-label><p>Info</p>Enjoy the now</ion-label>
      </ion-item>

      <ion-item lines="none" >
        <ion-icon name="call" slot="start" color="primary"></ion-icon>
        <ion-label><p>Telefono</p>+52 271 402 88 72</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">ajustes</ion-title>
    </ion-toolbar>
  </ion-header>
  
</ion-content>
